.modal.modal-feedback
  .modal__inner
    .modal__close.js-modal-close
    .modal__content
      +title({
        tag: 'h2',
        mods: 'title_2 modal__title',
        text: 'Обратная связь'
      })
      include ../feedback-form/feedback-form