.modal.modal-win
  .modal__inner
    .modal__close.js-modal-close
    .modal__content
      +title({
        tag: 'h2',
        mods: 'title_2',
        text: 'Поздравляем!'
      })
      .modal-win__text Вы выиграли гарантированный приз!
      .modal-win__sticker
        include ../sticker/sticker
      .modal-win__button
        +button({
          tag: 'button',
          mods: 'button_blot button_green',
          text: 'Получить приз',
          attrs: {
            type: 'submit'
          }
        })