.modal.modal-continue
  .modal__inner
    .modal__close.js-modal-close
    .modal__content
      +title({
        tag: 'h2',
        mods: 'title_2 modal__title',
        text: 'Отличная новость!'
      })
    .modal__text Акция «Получай подарки за правильное питание» продолжается!
      |
      br
      | Покупайте пачки со стикерами, регистрируйте коды, получайте гарантированные призы и копите баллы. Кстати, накопленные баллы еще можно обменять на очаровательную серебряную подвеску-шарм «кошка» от Pandora.