.code-reg {
  display: block;
  width: 100%;
  text-align: center;
  color: $white;
  background: url(../img/code-reg/bg-red.png) center no-repeat;
  background-size: contain;
  line-height: svw(60);
  cursor: pointer;
  &_green {
    background: url(../img/code-reg/bg-green.png) center no-repeat;
    background-size: contain;
  }
  @include breakpoint(medium) {
    display: inline-block;
    width: mvw(392);
    height: mvw(85);
    font-size: mvw(26);
    line-height: mvw(85);
  }
  @include breakpoint(large) {
    width: rem(392);
    height: rem(85);
    font-size: rem(26);
    line-height: rem(85);
  }
}