.steps {
  @include breakpoint(medium) {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  &__item {
    padding: svw(20) svw($small-container-padding) svw(10);
    position: relative;
    transition: $transition;
    @include breakpoint(medium) {
      width: 33.333%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding: mvw(80) mvw($medium-container-padding) mvw(50);
      border-bottom: mvw(1) solid $algae;
    }
    @include breakpoint(large) {
      padding: rem(80) 0 rem(50);
      border-bottom: rem(1) solid $algae;
    }
    &:nth-child(1) {
      background: url(../img/steps/step-1.png) center no-repeat;
      background-size: cover;
      transform-origin: left center;
      .steps__num {
        background: url(../img/1.svg) center no-repeat;
        background-size: contain;
      }
      .steps__img {
        width: svw(103);
        @include breakpoint(medium) {
          width: auto;
        }
      }
    }
    &:nth-child(2) {
      background: url(../img/steps/step-2.png) center no-repeat;
      background-size: cover;
      transform-origin: center;
      .steps__num {
        background: url(../img/2.svg) center no-repeat;
        background-size: contain;
      }
      .steps__img {
        width: svw(147);
        @include breakpoint(medium) {
          width: auto;
        }
      }
    }
    &:nth-child(3) {
      background: url(../img/steps/step-3.png) center no-repeat;
      background-size: cover;
      transform-origin: right center;
      .steps__num {
        background: url(../img/3.svg) center no-repeat;
        background-size: contain;
      }
      .steps__img {
        width: svw(137);
        @include breakpoint(medium) {
          width: auto;
        }
      }
    }
    &:not(:last-child) {
      @include breakpoint(medium) {
        border-right: mvw(1) solid $algae;
      }
      @include breakpoint(large) {
        border-right: rem(1) solid $algae;
      }
    }
    &:hover {
      @include breakpoint(large) {
        z-index: 1;
        transform: scale(1.05);
        box-shadow: 0 0 rem(25) rem(10) rgba($algae, .7);
      }
    }
  }
  &__num {
    display: none;
    border-radius: 50%;
    color: $white;
    text-align: center;
    font-family: $alt-font;
    @include breakpoint(medium) {
      display: block;
      flex: 0 0 auto;
      width: mvw(110);
      height: mvw(110);
      font-size: mvw(80);
      padding: mvw(15);
      margin: 0 auto mvw(40);
    }
    @include breakpoint(large) {
      width: rem(110);
      height: rem(110);
      font-size: rem(80);
      padding: rem(15);
      margin: 0 auto rem(40);
    }
  }
  &__text {
    color: $white;
    text-align: center;
    font-weight: 700;
    font-size: svw(16);
    line-height: 1.33;
    margin: 0 auto mvw(45);
    max-width: svw(180);
    @include breakpoint(medium) {
      flex: 1 1 auto;
      font-size: mvw(24);
      margin: 0 auto mvw(45);
      max-width: rem(400);
    }
    @include breakpoint(large) {
      font-size: rem(24);
      margin: 0 auto rem(45);
    }
    a {
      color: $white;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__img-container {
    flex: 0 0 auto;
    text-align: center;
  }
  &__img {
    vertical-align: baseline;
    max-width: 100%;
  }
}