-
  let steps = [
    {
      num: '1',
      text: 'Купи 12 бутылок воды 0,5 л или 6 бутылок воды 1,5 л',
      img: './img/steps/bottles.png'
    },
    {
      num: '2',
      text: '<a href="/#check">Зарегистрируй</a> чек после покупки на этом сайте',
      img: './img/steps/macbook.png'
    },
    {
      num: '3',
      text: 'Получи гарантированный шанс на победу',
      img: './img/steps/camera.png'
    }
  ];

.steps
  each step in steps
    .steps__item
      .steps__num= step.num
      .steps__text!= step.text
      .steps__img-container
        img.steps__img(src=step.img alt=step.text)