-
  let tableQ2 = '<table class="faq-table">\n'+
  '            <tbody><tr>\n'+
  '              <th>№</th>\n'+
  '              <th>Период регистрации на Сайте Акции</th>\n'+
  '              <th>Определение обладателей Еженедельных призов</th>\n'+
  '              <th>Количество еженедельных призов за соответствующий период (М)</th>\n'+
  '            </tr>\n'+
  '            <tr>\n'+
  '              <td>1</td>\n'+
  '              <td>с 00:00:00 05.06.2018 <br />по 23:59:59 11.06.2018</td>\n'+
  '              <td>до 19.06.2018 включительно</td>\n'+
  '              <td>3 (три)</td>\n'+
  '            </tr>\n'+
  '            <tr>\n'+
  '              <td>2</td>\n'+
  '              <td>с 00:00:00 12.06.2018 <br />по 23:59:59 18.06.2018</td>\n'+
  '              <td>до 26.06.2018 включительно</td>\n'+
  '              <td>3 (три)</td>\n'+
  '            </tr>\n'+
  '            <tr>\n'+
  '              <td>3</td>\n'+
  '              <td>с 00:00:00 19.06.2018 <br />по 23:59:59 25.06.2018</td>\n'+
  '              <td>до 03.07.2018 включительно</td>\n'+
  '              <td>3 (три)</td>\n'+
  '            </tr>\n'+
  '            <tr>\n'+
  '              <td>4</td>\n'+
  '              <td>с 00:00:00 26.06.2018 <br />по 23:59:59 02.07.2018</td>\n'+
  '              <td>до 12.07.2018 включительно</td>\n'+
  '              <td>3 (три)</td>\n'+
  '            </tr>\n'+
  '          </tbody></table>'
-
  let qa = [
    {
      q: 'В какой период я могу разместить работу на сайте Акции?',
      a: 'Вы можете разместить работу на сайте Акции с 05 июня 2018 года до 02 июля 2018 года включительно'
    },
    {
      q: 'Когда я узнаю результаты еженедельного розыгрыша призов?',
      a: tableQ2
    },
    {
      q: 'Как я могу принять участие в акции?',
      a: '<p>Необходимо в составе одной покупки (по одному кассовому чеку) в магазине «Азбука Вкуса» купить не менее 12 (двенадцати) бутылок воды VOLVIC одинакового объема по 0,5 л. либо не менее 6 (шести) бутылок воды VOLVIC одинакового объема по 1,5 л и сохранить соответствующий кассовый чек до окончания срока проведения Акции.</p><p>Пройти процедуру регистрации на интернет сайте www.volvic-promo.ru в период с 00.00 час. 05 июня 2018 года до 23.59 час. 02 июля 2018 года включительно.</p><p>Чеки, зарегистрированные на Сайте в соответствии с условиями настоящих Правил, необходимо сохранять в течение всего периода проведения Акции.</p><p>Каждый Участник Акции может зарегистрировать неограниченное количество чеков за весь период Акции.</p>'
    },
    {
      q: 'Сколько времени занимает модерация?',
      a: 'Модерация занимает до 2х (двух) рабочих дней с момента регистрации Чека. '
    },
    {
      q: 'Сколько чеков я могу загрузить?',
      a: 'Каждый Участник Акции может зарегистрировать неограниченное количество чеков за весь период Акции.'
    },
    {
      q: 'Какой приз я могу выиграть?',
      a: 'У нас есть три вида приза<br/><p>1. Гарантированный приз - подписка на 1 месяц на HD телеканалы пакета "Футбол" мобильного приложения "МАТЧ!КЛУБ".</p><p>2. Еженедельный приз – аэро-футбольный мяч HOVER BALL.</p><p>3. Главный приз - Экшн-камера GoPro HERO 5</p>'
    },
    {
      q: 'До какого числа необходимо загрузить работу на сайт?',
      a: 'Согласно с правилами акции срок подачи работ для участия в Акции – до 02 июля 2018 года включительно'
    },
    {
      q: 'Как я узнаю, что я выиграл приз?',
      a: 'Информация о обладателях соответствующих призов Акции, размещается Организатором Акции на Сайте в период с 19 июня 2018 года по 12 июля 2018 года включительно, а также доводится до сведения обладателя соответствующего приза Акции путем его уведомления по электронной почте, адрес которой он указал при прохождении им процедуры регистрации на Сайте.'
    },
    {
      q: 'Необходимо ли мне оплачивать налог НДФЛ?',
      a: 'Организатор информирует Получателей призов о законодательно предусмотренной обязанности уплатить соответствующие налоги в связи с получением Призов/подарков от организаций, совокупная стоимость которых превышает 4 000 (четыре тысячи) рублей за отчетный период (календарный год). Принимая участие в Акции и соглашаясь с настоящими Правилами, Участники считаются надлежащим образом проинформированными о вышеуказанной обязанности.'
    },
    {
      q: 'Могу ли я купить загрузить несколько чеков и выиграть несколько призов?',
      a: 'Один участник может получить не более 1 (Одного) приза соответствующей категории.'
    },
    {
      q: 'Как я могу получить свой приз?',
      a: '<p>Гарантированный приз – в период с 14 июня 2018 года в течение 3 (трех) рабочих дней с даты прохождения участником Акции завершенной процедуры регистрации на Сайте и одобрения регистрации Модератором Акции путем направления участнику Акции по электронной почте письма, содержащего ссылку на пакет каналов и кодом для входа, предоставляемым Организатором Акции</p><p>Еженедельный приз - в период с 20 июня 2018 года по 31 июля 2018 года -  направляется курьерской службой по адресу, указанному победителем при регистрации на Сайте Акции.</p><p>Главный приз – в период с 13 июля 2018 года по 31 июля 2018 года, направляется курьерской службой по адресу, указанному победителем при регистрации на Сайте Акции</p>'
    },
    {
      q: 'Мне пришло сообщение о том, что я выиграл Главный приз. Уточните пожалуйста, в течение какого времени мне нужно отправить необходимые данные?',
      a: 'Главный призер Акции для получения Приза в течение 7 (семи) календарных дней обязуется заполнить/загрузить данные через специальную анкетную форму на Сайте, ссылку на которую Организатор отправляет Главному призеру на электронную почту, указанную при регистрации на сайте Акции'
    },
    {
      q: 'Вы можете мне гарантировать сохранность персональных данных?',
      a: 'Организатор обеспечивает конфиденциальность персональных данных в установленном законом порядке.'
    },
    {
      q: 'На каком сайте я могу пройти регистрацию, чтобы участвовать в акции?',
      a: 'Вам необходимо пройти регистрацию на сайте акции www.volvic-promo.ru.'
    }
  ]

.faq
  .l-page__container.faq__container
    +title({
      tag: 'h2',
      text: 'FAQ',
      mods: 'title_1 faq__title'
    })
    .faq__inner
      each item in qa
        .faq__item
          .faq__question.js-faq-question= item.q
          .faq__answer.js-faq-answer!= item.a
    .faq__bottom
      a(href='#' data-modal-window='.modal-feedback').faq__link Задать свой вопрос
      a(href='https://av.ru/shops/' target='_blank' rel='nofollow noopener noreferrer').faq__link Магазины-участники