include ../upload/upload
include ../form-field/form-field

.check
  .l-page__container
    +title({
      tag: 'h2',
      text: 'Регистрация чека',
      mods: 'title_1 check__title'
    })
    form#check-form.form.check__form(action='/api/check-form' novalidate='novalidate' autocomplete='off')
      .form__row
        .form__field
          +form-field({
            input: {
              tag: 'input',
              placeholder: 'Имя',
              attrs: {
                type: 'text',
                name: 'CheckForm[name]',
                required: ''
              }
            }
          })
        .form__field
          +form-field({
            input: {
              tag: 'input',
              placeholder: 'Email',
              attrs: {
                type: 'text',
                name: 'CheckForm[email]',
                required: ''
              }
            }
          })
      .form__row
        .form__field
          +form-field({
            input: {
              tag: 'input',
              placeholder: 'Телефон',
              attrs: {
                'data-tel': 'true',
                type: 'text',
                name: 'CheckForm[tel]',
                required: ''
              }
            }
          })
        .form__field
          +form-field({
            select: {
              mods: '',
              name: 'CheckForm[shop]',
              placeholder: 'Магазин покупки',
              list: ['Магазин 1', 'Магазин 2', 'Магазин 3'],
              required: true
            }
          })
      .form__row
        .form__field
          +form-field({
            input: {
              tag: 'input',
              mods: 'input_lp',
              placeholder: 'Дата и номер покупки <span class="grey">(данные из чека)</span>',
              attrs: {
                type: 'text',
                name: 'CheckForm[data]',
                required: ''
              }
            }
          })
      .form__row
        .form__field
          +form-field({
            upload: {
              name: 'CheckForm[file]',
              accept: '.jpg, .png, .jpeg',
              maxSize: '10'
            }
          })
      .form__row
        .form__field.form__field_small-margin
          +control({
            text: 'Я подтверждаю, что ознакомлен и согласен с <a href="#" target="_blank">Правилами Акции</a>',
            mods: '',
            attrs: {
              type: 'checkbox',
              name: 'CheckForm[agree]',
              required: ''
            }
          })
      .form__row
        .form__field.form__field_small-margin
          +control({
            text: 'Согласен на обработку своих персональных данных',
            mods: '',
            attrs: {
              type: 'checkbox',
              name: 'CheckForm[agreePers]',
              required: ''
            }
          })
      .form__row
        .form__field.form__field_small-margin
          +control({
            text: 'Ознакомлен и согласен с Пользовательским соглашением сервиса "МАТЧ! КЛУБ"',
            mods: '',
            attrs: {
              type: 'checkbox',
              name: 'CheckForm[agreeMatch]',
              required: ''
            }
          })
      .form__controls
        +button({
          tag: 'button',
          mods: 'button_blot button_green',
          text: 'Зарегистрировать код',
          attrs: {
            type: 'submit'
          }
        })