include ../upload/upload

.check
  .l-page__container
    +title({
      tag: 'h2',
      text: 'Регистрация чека',
      mods: 'title_1 check__title'
    })
    form#check.form.check__form
      .form__row
        .form__field
          +input({
            tag: 'input',
            placeholder: 'Имя',
            attrs: {
              type: 'text',
              name: 'name',
              required: ''
            }
          })
        .form__field
          +input({
            tag: 'input',
            placeholder: 'Email',
            attrs: {
              type: 'text',
              name: 'email',
              required: ''
            }
          })
      .form__row
        .form__field
          +input({
            tag: 'input',
            placeholder: 'Телефон',
            attrs: {
              type: 'text',
              name: 'tel',
              required: ''
            }
          })
        .form__field
          +select({
            mods: '',
            name: 'shop',
            placeholder: 'Магазин покупки',
            list: ['Магазин 1', 'Магазин 2', 'Магазин 3'],
            attrs: {
              required: ''
            }
          })
      .form__row
        .form__field
          +input({
            tag: 'input',
            mods: 'input_lp',
            placeholder: 'Дата и номер покупки <span class="grey">(данные из чека)</span>',
            attrs: {
              type: 'text',
              name: 'data',
              required: ''
            }
          })
      .form__row
        .form__field
          .form__upload
            span.form__upload-text Загрузить фото чека
            +upload({
              accept: '.jpg, .png, .jpeg',
              maxSize: '10'
            })
      .form__row
        .form__field.form__field_small-margin
          +control({
            text: 'Я подтверждаю, что ознакомлен и согласен с <a href="#" target="_blank">Правилами Акции</a>',
            mods: '',
            attrs: {
              type: 'checkbox',
              name: 'agree'
            }
          })
      .form__row
        .form__field.form__field_small-margin
          +control({
            text: 'Согласен на обработку своих персональных данных ',
            mods: '',
            attrs: {
              type: 'checkbox',
              name: 'agreePers'
            }
          })
      .form__row
        .form__field.form__field_small-margin
          +control({
            text: 'Ознакомлен и согласен с Пользовательским соглашением сервиса "МАТЧ! КЛУБ"',
            mods: '',
            attrs: {
              type: 'checkbox',
              name: 'agreeMatch'
            }
          })
      .form__controls
        +button({
          tag: 'button',
          mods: 'button_blot button_green',
          text: 'Зарегистрировать код',
          attrs: {
            type: 'submit'
          }
        })