.form-field {
  position: relative;
  text-align: left;
  &.error {
    .form-field {
      &__input {
        input,
        .input__textarea,
        .select__main {
          border-color: $red;
        }
      }
      &__upload {
        .button {
          border-color: $red;
        }
      }
    }
  }
  &__error {
    display: block;
    color: $red;
    font-size: svw(14);
    @include breakpoint(medium) {
      font-size: mvw(16);
    }
    @include breakpoint(large) {
      font-size: rem(16);
    }
    .error {
      display: block;
      color: $red;
      margin-top: svw(15);
      @include breakpoint(medium) {
        margin-top: mvw(15);
      }
      @include breakpoint(large) {
        margin-top: rem(15);
      }
      &:before {
        content: '* ';
      }
    }
  }
  &__input {
    position: relative;
  }
  &__upload {
    @include breakpoint(medium) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__upload-text {
    margin-bottom: svw(10);
    color: $white;
    font-size: svw(18);
    @include breakpoint(medium) {
      margin-bottom: 0;
      margin-right: mvw(25);
      font-size: mvw(20);
    }
    @include breakpoint(large) {
      margin-right: rem(40);
      font-size: rem(24);
    }
  }
  &__upload-small {
    font-size: svw(14);
    @include breakpoint(medium) {
      font-size: mvw(16);
    }
    @include breakpoint(large) {
      font-size: rem(18);
    }
  }
}