include ../input/input
include ../select/select
//-
  +form-field({
    name: 'Email',
    mods: 'form__field',
    input: {
      tag: 'input',
      attrs: {
        type: 'text'
      }
    }
  })

mixin form-field(data)
  -
    var type;
    (data.input != undefined) ? type = 'input' : '';
    (data.select != undefined) ? type = 'select' : '';
  .form-field(class=data.mods)
    if data.input != undefined
      - data.input.mods = data.input.mods || ''
      - data.input.mods += ' form-field__input'
      +input(data.input)
        span.form-field__error
    if data.select != undefined
      - data.select.mods = data.select.mods || ''
      - data.select.mods += ' form-field__input'
      +select(data.select)
        span.form-field__error