-
  var advantages = [
    {
      text: 'Источник природной минеральной воды Volvic находится во Франции на территории защищенного ЮНЕСКО национального парка Auvergne (Овернь) – места, знаменитого своими вулканами.'
    },
    {
      text: 'Volvic, 100% натуральная минеральная вода, приобретает уникальную минерализацию благодаря 5 летнему процессу естественной фильтрации сквозь 6 слоев вулканической породы толщиной 200 метров.'
    },
    {
      text: 'Первые бутылки воды Вольвик появились в 1938, и теперь их производится более 1 млрд ежегодно.'
    },
    {
      text: 'Каждая капля попадает из источника в бутылку на единственной в мире фабрике Volvic. Открывая бутылку, Вы являетесь первым человеком, который прикасается к воде.'
    },
    {
      text: 'Миссия Вольвик - вдохновлять и помогать людям пробудить в себе внутреннюю силу и достигать своих целей каждый день. #find your volcano'
    }
  ]

.brand
  .brand__bottle
    img(src='./img/brand/bottle.png' alt='Volvic').brand__img
  .brand__round
    .brand__point
    .brand__point
    .brand__point
    .brand__point
    .brand__point
    .brand__drop.js-drop
  .brand__advantages
    each item, index in advantages
      .brand__item
        .brand__num= index + 1
        .brand__text= item.text