//-
  +input({
    tag: 'input',
    placeholder: 'Имя',
    attrs: {
      type: 'text'
    }
  })

mixin input(data)
  .input(class=data.mods)
    span.input__placeholder!= data.placeholder
    if data.tag == 'input'
      input&attributes(data.attrs).input__field
    if data.tag == 'textarea'
      .input__textarea
        textarea&attributes(data.attrs).input__field
    block