input,
select {
  &.input__field {
    height: svw(48);
    @include breakpoint(medium) {
      height: mvw(48);
    }
    @include breakpoint(large) {
      height: rem(48);
    }
  }
}

// Firefox default validation effect remove
input:invalid {
  box-shadow: none;
}

input::-webkit-input-placeholder {
  color: grey;
}

input::-moz-placeholder {
  color: grey;
}

input:-ms-input-placeholder {
  color: grey;
}

textarea.input__field {
  box-sizing: border-box;
  width: calc(100% + 20px);
  height: svw(167);
  padding-right: 40px;
  resize: none;
  @include breakpoint(medium) {
    height: mvw(167);
  }
  @include breakpoint(large) {
    height: rem(167);
  }
}

.input {
  position: relative;
  &.input_lp {
    .input__field {
      height: svw(70);
      @include breakpoint(medium) {
        height: mvw(48);
      }
      @include breakpoint(large) {
        height: rem(48);
      }
    }
  }
  &_green {
    .input {
      &__placeholder {
        color: $primary;
      }
      &__field {
        color: $black;
        border-color: $primary;
      }
    }
  }
  &__textarea {
    overflow: hidden;
    border-bottom-width: svw(4);
    border-bottom-style: solid;
    border-bottom-color: $white;
    @include breakpoint(medium) {
      border-width: mvw(4);
    }
    @include breakpoint(large) {
      border-width: rem(4);
    }
    .input__field {
      border: none;
    }
  }
  &__field {
    display: block;
    width: 100%;
    border-bottom-width: svw(4);
    border-bottom-style: solid;
    border-bottom-color: $white;
    background-color: transparent;
    padding: svw(12) svw(20) svw(12) 0;
    transition: $transition;
    font-size: svw(18);
    -webkit-appearance: none;
    color: $white;
    @include breakpoint(medium) {
      border-width: mvw(4);
      padding: mvw(12) mvw(20) mvw(12) 0;
      font-size: mvw(20);
    }
    @include breakpoint(large) {
      border-width: rem(4);
      padding: rem(12) rem(20) rem(12) 0;
      font-size: rem(20);
    }
    &:focus {
      outline: 0;
    }
    &[aria-invalid='true'] ~ .input__placeholder,
    &:focus ~ .input__placeholder,
    &:valid ~ .input__placeholder {
      top: svw(-15);
      font-size: rem(16);
      @include breakpoint(medium) {
        top: mvw(-20);
      }
      @include breakpoint(large) {
        top: rem(-20);
      }
    }
  }
  &__placeholder {
    display: inline-block;
    color: $white;
    font-size: svw(24);
    transition: $transition;
    position: absolute;
    top: svw(10);
    left: 0;
    pointer-events: none;
    @include breakpoint(medium) {
      font-size: mvw(24);
      top: mvw(10);
    }
    @include breakpoint(large) {
      font-size: rem(24);
      top: rem(10);
    }
  }
}