extend ../layouts/master

block prepend header
  - var headerType = '';

block content
  include ../../blocks/top/top
  a#rules
  include ../../blocks/steps/steps
  a#prizes
  include ../../blocks/prizes/prizes
  a#faq
  include ../../blocks/faq/faq
  a#check
  include ../../blocks/check/check
  a#winners