extend ../layouts/master

block prepend header
  - var headerType = '';

block content
  #fullpage
    .section
      include ../../blocks/top/top
    .section
      a#rules
      include ../../blocks/steps/steps
    .section
      a#prizes
      include ../../blocks/prizes/prizes
    .section
      a#faq
      include ../../blocks/faq/faq
    .section
      a#check
      include ../../blocks/check/check
    .section
      a#winners
      include ../../blocks/winners/winners