extend ../layouts/master

block prepend header
  - var headerType = 'header_small-logo';

block content
  .lk
    .lk__section
      include ../../blocks/lk-top/lk-top
  .l-page__container
    .lk__section
      include ../../blocks/lk-form/lk-form-alt