.title {
  &_1 {
    font-family: $alt-font;
    color: $white;
    font-size: svw(40);
    line-height: 1.1;
    @include breakpoint(medium) {
      font-size: mvw(86);
    }
    @include breakpoint(large) {
      font-size: rem(100);
    }
  }
  &_2 {
    font-family: $alt-font;
    color: $primary;
    font-size: svw(40);
    line-height: 1.1;
    @include breakpoint(medium) {
      font-size: mvw(60);
    }
    @include breakpoint(large) {
      font-size: rem(80);
    }
  }
  &_3 {
    color: $primary;
    font-size: svw(26);
    @include breakpoint(medium) {
      font-size: mvw(30);
    }
    @include breakpoint(large) {
      font-size: rem(34);
    }
  }
}