.title {
  &_1 {
    font-family: $alt-font;
    color: $white;
    font-size: rem(40);
    line-height: 1.1;
    @include breakpoint(medium) {
      font-size: rem(86);
    }
    @include breakpoint(large) {
      font-size: rem(100);
    }
  }
}