.prizes
  .prizes__round.prizes__round_1
  .prizes__round.prizes__round_2
  .l-page__container.prizes__container
    +title({
      tag: 'h2',
      text: 'Участвуй и выигрывай призы',
      mods: 'title_1 prizes__title'
    })
    .prizes__inner
      .prizes__item.prizes__item_sticker
        .prizes__img-container
          img(src='./img/prizes/match.png' alt='МАТЧ!').prizes__img
        .prizes__text Гарантированный приз: Подписка на 1 месяц пакета «Футбол» в мобильном приложении «МАТЧ! КЛУБ»
      .prizes__item.prizes__item_ball
        .prizes__img-container
          img(src='./img/prizes/ball.png' alt='Hover ball').prizes__img
        .prizes__text Hover ball для настоящих ценителей футбола
      .prizes__item.prizes__item_camera
        .prizes__img-container
          img(src='./img/prizes/camera.png').prizes__img
        .prizes__text Главный приз- камера GoPro HERO5. Запечатли лучшие моменты вместе с Volvic