.prizes {
  position: relative;
  overflow: hidden;
  background: url(../img/prizes/stadium.jpg) center no-repeat;
  background-size: cover;
  padding: svw(20) 0 svw(30);
  @include breakpoint(medium) {
    padding: mvw(60) 0 mvw(60);
  }
  @include breakpoint(large) {
    padding: rem(60) 0 rem(60);
  }
  &__container {
    position: relative;
  }
  &__round {
    position: absolute;
    border-radius: 50%;
    background-color: rgba($primary, .45);
    display: none;
    @include breakpoint(medium) {
      display: block;
      width: mvw(615);
      height: mvw(615);
    }
    @include breakpoint(large) {
      width: rem(834);
      height: rem(834);
    }
    &_1 {
      @include breakpoint(medium) {
        top: mvw(-85);
        left: mvw(-200);
      }
      @include breakpoint(large) {
        top: rem(-60);
        left: rem(-290);
      }
    }
    &_2 {
      @include breakpoint(medium) {
        bottom: mvw(-500);
        right: mvw(-50);
      }
      @include breakpoint(large) {
        bottom: rem(-500);
        right: rem(-20);
      }
    }
  }
  &__inner {
    margin: 0 svw(-$small-container-padding);
    @include breakpoint(medium) {
      position: relative;
      margin: 0;
      height: mvw(450);
    }
    @include breakpoint(large) {
      height: rem(600);
    }
    .slick-track {
      display: flex;
    }
    &.slick-initialized {
      .slick-slide {
        float: none;
        height: auto;
        display: flex !important;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        & > div {
          height: 100%;
          & > div {
            height: 100%;
          }
        }
      }
    }
    .slick-dots {
      width: 100%;
      position: static;
      text-align: center;
      margin-top: svw(30);
      li {
        display: inline-block;
        vertical-align: top;
        margin: 0 svw(5);
        font-size: 0;
        &.slick-active {
          button {
            background-color: $white;
          }
        }
        button {
          width: svw(10);
          height: svw(10);
          background-color: transparent;
          border-radius: 50%;
          border-width: svw(1);
          border-style: solid;
          border-color: $white;
        }
      }
    }
  }
  &__title {
    position: relative;
    z-index: 1;
    margin-bottom: svw(20);
    @include breakpoint(medium) {
      text-align: left;
      margin-bottom: mvw(40);
    }
    @include breakpoint(large) {
      max-width: rem(860);
      margin-bottom: rem(60);
    }
  }
  &__item {
    position: relative;
    z-index: 1;
    padding: 0 svw($small-container-padding);
    @include breakpoint(medium) {
      position: absolute;
      padding: 0;
    }
    &_sticker {
      text-align: center;
      @include breakpoint(medium) {
        height: mvw(290);
        width: mvw(290);
        top: mvw(-40);
        right: 0;
      }
      @include breakpoint(large) {
        height: rem(340);
        width: rem(340);
        top: rem(-200);
        right: 0;
      }
      .prizes__img-container {
        background: url(../img/prizes/sticker.png) center no-repeat;
        background-size: contain;
        @include breakpoint(medium) {
          height: 100%;
          width: 100%;
          display: block;
        }
      }
      .prizes__img {
        @include breakpoint(medium) {
          margin-top: mvw(195);
        }
        @include breakpoint(large) {
          margin-top: rem(195);
        }
      }
      .prizes__text {
        @include breakpoint(medium) {
          position: absolute;
          top: mvw(65);
          left: mvw(20);
          width: mvw(250);
          height: mvw(120);
          font-size: mvw(18);
        }
        @include breakpoint(large) {
          top: rem(65);
          left: rem(20);
          width: rem(300);
          height: rem(120);
          font-size: rem(20);
        }
      }
    }
    &_ball {
      text-align: center;
      @include breakpoint(medium) {
        text-align: left;
        max-width: mvw(400);
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
      @include breakpoint(large) {
        display: block;
        max-width: rem(400);
        top: rem(0);
      }
      .prizes__img-container {
        @include breakpoint(medium) {
          width: mvw(170);
          height: auto;
          margin-right: mvw(10);
          margin-bottom: 0;
          flex: 0 0 auto;
        }
        @include breakpoint(large) {
          margin-right: 0;
          margin-bottom: rem(25);
          width: auto;
        }
      }
      .prizes__text {
        @include breakpoint(medium) {
          text-align: left;
          flex: 1 1 auto;
        }
      }
    }
    &_camera {
      text-align: center;
      @include breakpoint(medium) {
        text-align: left;
        max-width: mvw(550);
        position: absolute;
        bottom: 0;
        right: mvw(60);
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
      @include breakpoint(large) {
        max-width: rem(550);
        bottom: 0;
        right: rem(260);
        display: block;
      }
      .prizes__img-container {
        @include breakpoint(medium) {
          flex: 0 0 auto;
          margin-right: mvw(10);
          margin-bottom: 0;
          width: mvw(200);
          height: auto;
        }
        @include breakpoint(large) {
          width: auto;
          margin-right: 0;
          margin-bottom: rem(25);
        }
      }
      .prizes__text {
        @include breakpoint(medium) {
          text-align: left;
          flex: 1 1 auto;
        }
      }
    }
  }
  &__img-container {
    height: svw(250);
    width: svw(250);
    flex: 0 0 auto;
    margin: 0 auto svw(20);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    display: inline-block;
    max-width: 100%;
  }
  &__text {
    color: $white;
    font-size: svw(16);
    line-height: 1.33;
    flex: 1 1 auto;
    @include breakpoint(medium) {
      font-size: mvw(20);
    }
    @include breakpoint(large) {
      font-size: rem(24);
    }
  }
}