.select {
  position: relative;
  &__placeholder {
    font-size: svw(24);
    color: $white;
    @include breakpoint(medium) {
      font-size: mvw(24);
    }
    @include breakpoint(large) {
      font-size: rem(24);
    }
  }
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: svw(48);
    border-bottom-width: svw(4);
    border-bottom-style: solid;
    border-bottom-color: $white;
    background-color: transparent;
    padding: svw(12) 0;
    transition: border-color $transition;
    will-change: border-color;
    position: relative;
    @include breakpoint(medium) {
      height: mvw(48);
      border-bottom-width: mvw(4);
      padding: mvw(12) 0;
    }
    @include breakpoint(large) {
      height: rem(48);
      border-bottom-width: rem(4);
      padding: rem(12) 0;
    }
  }
  &__main-text {
    padding-right: svw(15);
    font-size: svw(18);
    color: $white;
    @include breakpoint(medium) {
      padding-right: mvw(15);
      font-size: mvw(20);
    }
    @include breakpoint(large) {
      padding-right: rem(15);
      font-size: rem(20);
    }
  }
  &__icon {
    width: svw(20);
    height: svw(10);
    fill: $white;
    @include breakpoint(medium) {
      width: mvw(20);
      height: mvw(10);
    }
    @include breakpoint(large) {
      width: rem(20);
      height: rem(10);
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    background-color: $white;
    border-right-width: svw(4);
    border-left-width: svw(4);
    border-bottom-style: solid;
    border-bottom-color: $white;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    overflow: hidden;
    @include breakpoint(medium) {
      border-right-width: mvw(4);
      border-left-width: mvw(4);
    }
    @include breakpoint(large) {
      border-right-width: rem(4);
      border-left-width: rem(4);
    }
  }
  &__item {
    display: block;
    width: calc(100% + 1px);
    margin-left: -1px;
    padding: svw(12) svw(15);
    position: relative;
    @include breakpoint(medium) {
      padding: mvw(12) mvw(15);
    }
    @include breakpoint(large) {
      padding: rem(12) rem(15);
    }
    &:hover {
      background-color: $frostee;
    }
    &:not(:last-child) {
      border-bottom: svw(1) solid $alto;
      @include breakpoint(medium) {
        border-bottom: mvw(1) solid $alto;
      }
      @include breakpoint(large) {
        border-bottom: rem(1) solid $alto;
      }
    }
  }
  &__item-text {
    font-size: svw(18);
    @include breakpoint(medium) {
      font-size: mvw(20);
    }
    @include breakpoint(large) {
      font-size: rem(18);
    }
  }
  &__item-input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  &.active {
    .select {
      &__main {
        border-bottom: 0;
        z-index: 20;
      }
      &__icon {
        transform: rotate(180deg);
      }
      &__list {
        z-index: 10;
      }
    }
  }
}