header.header
  .header__inner
    .header__burger
      .header__burger-body
        span
        span
        span
      .header__mobile-close
    a(href='/').header__logo
      img(src='./img/logo.png' alt='logo')
    nav.header__nav
      a(href='#rules').header__nav-item Правила
      a(href='/').header__nav-item О бренде
      a(href='#prizes').header__nav-item Призы
      a(href='#faq').header__nav-item FAQ
      a(href='#check').header__nav-item Регистрация чека
      a(href='#winners').header__nav-item Победители
    a(href='/').header__login.js-login-link
      +icon({
        name: 'profile',
        mods: 'header__login-icon'
      })
      span.header__login-text Вход
  nav.header__mobile-nav
    .header__mobile-inner
      ul.header__mobile-list
        li.header__mobile-el
          a(href='#rules').header__mobile-link Правила
        li.header__mobile-el
          a(href='/').header__mobile-link О бренде
        li.header__mobile-el
          a(href='#prizes').header__mobile-link Призы
        li.header__mobile-el
          a(href='#faq').header__mobile-link FAQ
        li.header__mobile-el
          a(href='#check').header__mobile-link Регистрация чека
        li.header__mobile-el
          a(href='#winners').header__mobile-link Победители