html,
body {
  height: 100%;
  font-family: $main-font;
  font-size: 100%;
}

html.locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  body {
    position: fixed;
    width: 100%;
  }
}

.grey {
  color: $grey;
}