html {
  font-size: 80%;
}

html,
body {
  height: 100%;
  font-family: $main-font;
}

html.locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  body {
    position: fixed;
    width: 100%;
  }
}

.primary {
  color: $primary;
}

.red {
  color: $red;
}

.grey {
  color: $grey;
}

a {
  color: $primary;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.scroll-effect {
  overflow: hidden;
}