@font-face {
  font-family: 'Lucida Grande';
  src: url(../fonts/Lucida_Grande.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Feast';
  src: url(../fonts/Feast.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}