include ../code-reg/code-reg

.top
  .l-page__container
    .top__content
      +title({
        tag: 'h1',
        mods: 'title_1 top__title',
        text: 'Пробуди в себе силу фаната'
      })
      .top__code-reg-container
        +code-reg({
          tag: 'a',
          mods: 'top__code-reg',
          attrs: {
            href: '#check'
          }
        })
      a(href='#').top__link Подробные условия участия в акции