.top
  .l-page__container
    .top__content
      +title({
        tag: 'h1',
        mods: 'title_1 top__title',
        text: 'Пробуди в себе силу фаната'
      })
      .top__button-container
        +button({
          tag: 'a',
          mods: 'button_blot top__button',
          text: 'Зарегистрировать чек',
          attrs: {
            href: '#check'
          }
        })
      a(href='#' target='_blank').top__link Подробные правила участия в акции