.form {
  &__row {
    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
      margin: 0 mvw(-$medium-container-padding);
    }
    @include breakpoint(large) {
      display: flex;
      justify-content: space-between;
      margin: 0 rem(-$large-container-padding);
    }
    &.form__row_medium-up-mb0 {
      @include breakpoint(medium) {
        margin-bottom: 0;
      }
    }
    &.form__row_large-up-mb0 {
      @include breakpoint(large) {
        margin-bottom: 0;
      }
    }
  }
  &__field {
    margin-bottom: svw(20);
    @include breakpoint(medium) {
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 mvw($medium-container-padding);
      margin-bottom: mvw(30);
    }
    @include breakpoint(large) {
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 rem($large-container-padding);
      margin-bottom: rem(50);
    }
    &_small-margin {
      margin-bottom: svw(10);
      @include breakpoint(medium) {
        margin-bottom: mvw(15);
      }
      @include breakpoint(large) {
        margin-bottom: rem(15);
      }
    }
    &_big-margin {
      margin: svw(30) 0;
      @include breakpoint(medium) {
        margin: mvw(40) 0;
      }
      @include breakpoint(large) {
        margin: rem(50) 0;
      }
    }
  }
  &__controls {
    text-align: center;
    margin-top: svw(30);
    @include breakpoint(medium) {
      margin-top: mvw(30);
    }
    @include breakpoint(large) {
      margin-top: rem(30);
    }
  }
}